<h1><%= @cottage.name %></h1>
<p>Location: <%= @cottage.location %></p>
<p>Rating: <%= @cottage.rating %></p>
<p><%= @cottage.description %></p>
<p>Number of visitor disappearances <%= @cottage.number_of_visitor_disappearances %></p>
<img src="<%= @cottage.img_url %>" alt="">
